ul.collection
  li.collection-item.avatar(ng-repeat='post in posts')
    i.icon.icon-draft.circulo.white.grey-text
    p.dividervcc.datecc 
      {{post.fechaModificacion | date}}
      span.right 
        //- i.icon.icon-view.chico
        //- | 500 &nbsp;
        //- i.icon.icon-share.chico
        //- | 150K
        a(ng-click='deletePost(post)', title='eliminar')
          i.material-icons.chico delete
        a(ng-click='showPost(post)', title='editar')
          i.material-icons.chico edit
          //- | Editar
    p.dividervcc.titlecc 
      {{post.titulo}}
    p.dividervcc &nbsp;
    p.dividervcc.barcc
      a.badge1.recent(href="#", data-badge="5")
        i.icon.icon-comment.white-text.mediano
      a.badge1.recent(href="#", data-badge="30")
        i.icon.icon-fav.white-text.mediano
      a.badge1.recent(href="#", data-badge="2")
        i.icon.icon-strike.white-text.mediano
      a.badge1.recent(href="#", data-badge="{{post.noEtiqueta}}")
        i.icon.icon-label.white-text.mediano
hr