.container-cc(style="background-color:#424242;margin-bottom:0px;bottom:0px;")
	button.btn.waves-effect.waves-light.white.black-text(style="margin:15px;") NEWSLETTER
		i.material-icons.right send
	ul.white-text.comscore-cc
		li
			a(style="color:white; text-decoration:none") Comscore
			hr
	ul.white-text.footer-cc(style="text-transform:uppercase;")
		li
			a(style="color:white; text-decoration:none") Quiénes somos
			hr(width="55%")
		li
			a(style="color:white; text-decoration:none") Aviso legal
			hr(width="55%")
		li
			a(style="color:white; text-decoration:none") Políticas de privacidad
			hr(width="55%")
		li
			a(style="color:white; text-decoration:none") Anúnciate
			hr(width="55%")
		li
			a(style="color:white; text-decoration:none") Términos de uso
			hr(width="55%")
		li
			a(style="color:white; text-decoration:none") Contáctanos
			hr(width="55%")
	ul.white-text
		li
			p Todos los derechos reservados 2016 &copy; Cultura Colectiva
	.clearfix
		&nbsp;