/*NOTIFICATION BADGES*/

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-5px;
   font-size:.8em;
   background:#0086A8;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

/*NOTIFICATION BADGES*/

/*MARGIN FIX RECENT POST*/

.recent {
  background-color:#424242; 
  padding:4px 2px; 
  text-align:center; 
  text-decoration:none; 
  display:inline-block;
  margin-right: 9px;
}

/*MARGIN FIX RECENT POST*/

/*CUSTOM CARD CIRCLE*/

.collection .collection-item.avatar .circulo {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collection .collection-item.avatar i.circulo {
  font-size: 42px;
  line-height: 42px;
  background-color: #999;
  text-align: center;
}

/*CUSTOM CARD CIRCLE*/

/*NAVBAR STYLE FIX*/

.barcc a {
  text-decoration: none;
  color: black;
}

/*NAVBAR STYLE FIX*/

/*RECENT POSTS STYLE*/

.titlecc {
  font-size: 16pt;
  margin-bottom: 50px;
  line-height: 16pt;
}
.datecc {
  color:#0086A8;
  line-height: 12pt;
}

/*TITLE TEXT FIX*/

/*MARGINS FIX*/

.container-cc {
  padding: 0 16px;
}

/*MARGINS FIX*/

/*MOBILE MENU SHOW/HIDE MAX 992px*/

@media only screen and (max-width: 992px) {
    .hide-mobile {
      display:none;
    }
  }

@media only screen and (min-width: 992px) {
    .footer-cc li{
      display: inline-block;
      margin: 0 15px;
    }
    .footer-cc li hr{
      display: none;
    }
    .comscore-cc hr{
      width: 80%;
    }

  }

/*MOBILE MENU SHOW/HIDE*/