p.barcc.center
	a.recent(href="#", style="display:none;")
		i.icon.icon-comment.white-text.mediano
	a.recent(href="#", style="display:none;")
		i.icon.icon-fav.white-text.mediano
	a.recent(href="#", style="display:none;")
		i.icon.icon-strike.white-text.mediano
	a.recent(ng-click='newPost()', title="Nuevo Articulo", style="cursor: pointer;")
		i.material-icons.white-text.mediano note_add
