navbar
.container
  p
    | Lista de Posts
  ul.list-group
    li.list-group-item(ng-repeat='post in posts' )
      p(ng-repeat='version in post.VersionPosts')
         {{version.titulo}}
         a.trash(ng-click='delete(post)')
           span.glyphicon.glyphicon-trash.pull-right 
         a.edit(ng-click='update(post)')
           span.glyphicon.glyphicon-edit.pull-right        
         